{% extends 'base_front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="loginContainer">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    

    <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> -->

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div> -->
    #}

    <!-- <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button> -->

    
        <div class="left_side">
        </div>
        <div class="right_side">
            <img class="logo" src="" alt="logo">
            <div class="form_connection">
                <h1 class="title">Connexion</h1>

                <input class="inputLogin" type="email" required minlength="8" maxlength="55" size="10"
                    placeholder="Adresse mail" name="mail">

                <input class="inputLogin" type="password" required minlength="8" maxlength="55" size="10"
                    placeholder="Mot de passe" name="password">
                    
                <div class="block-login" style="width:80%; align-self:center;">

                    <div class="remember">
                        <input class="remember_check" type="checkbox" id="remember" name="remember">
                        <label for="remember">Se souvenir de moi</label>
                    </div>
                    <div>
                        <a class="lost" href="forget-password">Mot de passe oublié?</a>
                    </div>
                </div>

                <input class="button submit" type="submit" value="Me connecter" onclick="onClick()">

                <span class="bar"></span>
                <h3 class="login_title">Pas encore inscrit ?</h3>
                <input type="button" class="button submit" value="Inscription">


            </div>
        </div>
        </div>
        
</form>
{% endblock %}

{% block stylesheets%}

<style>
.loginContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}
body {
  background-size: cover !important;
  color: #fff;
  background:url({{asset('img/boxe.jpg')}});
}
.left_side {
  display: flex;
  flex: 1 1 50%;
}
.right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 50% 1;
}
.form_connection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #6A0903;
  margin-bottom: 3em;
  border-radius: 10px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  padding-top: 1.5em;
  width: 55%;
}
.form_connection .inputLogin:not([type=submit]):not([type='checkbox']) {
  flex: 1;
  display: block;
  min-width: 0;
  border-radius: 5px;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
}
.form_connection .inputLogin {
  padding: 0.5em;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
  font-size: 1.5em;
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.25);
  width: 80%;
  align-self: center;
}
.form_connection .inputLogin[type=checkbox] {
  cursor: pointer;
}
.form_connection  .inputLogin .submit {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
}
.form_connection .title {
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
}
.form_connection .button {
  background: #400502;
  border-radius: 5px;
  width: 60%;
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 1.5rem;
  font-size: 1.2em;
  border: none;
  align-self: center;
  color:#fff;
}
.form_connection  .bar {
  border-top: 1px solid #FFFFFF;
  width: 80%;
  align-self: center;
}
.form_connection .lost {
  position: relative;
  display: block;
  color: black;
  font-size: 0.5em;
  text-decoration: underline;
  font-weight: lighter;
  margin: 0;
}
.form_connection  .remember {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 0.8em;
  font-weight: lighter;
  margin-top: 5px;
}
.form_connection .remember_check {
  background-color: #FFCE83;
  border-radius: 2px;
  margin: 0;
  margin-right: 0.2em;
  width: 20px;
  height: 20px;
}
.form_connection .login_title {
  font-weight: lighter;
  text-align: center;
   margin-top: 15px;
}
.form_connection  .block-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
</style>

{% endblock %}