{% extends 'base_front.html.twig' %}

{% block title %}Les combats{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="example-wrapper">
        <h1>Les combats en attente</h1>
        <table id="nextTrials" name="nextTrials">
            <thead>
                <tr>
                    <th>arbitre</th>
                    <th>combattants</th>
                    <th>date</th>
                    <th>status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="nextTrials_data">
            {% if nextTrials is defined and nextTrials is not empty %}
                {% for trial in nextTrials %}
                    <tr>
                        <th>{{ trial.adjudicate.nickname ?? "null" }}</th>
                        <th>{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null" }}</th>
                        <th>{{ trial.dateStart|date('d-m-Y H:i:s') }}</th>
                        <th>{{ trial.status }}</th>
                        {% if not (trial.status == "DATE_ACCEPTED" and trial.updatedBy.id == app.user.id) %}
                        <th>
                            {{ include('front/trial/_accept_form.html.twig') }}
                            {{ include('front/trial/_reject_form.html.twig') }}
                        </th>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="example-wrapper">
        <h1>Les challenges en attente</h1>
        <table id="nextChallenges" name="nextChallenges">
            <thead>
                <tr>
                    <th>arbitre</th>
                    <th>combattants</th>
                    <th>date</th>
                    <th>status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="nextChallenges_data">
            {% if nextChallenges is defined and nextChallenges is not empty %}
                {% for trial in nextChallenges %}
                    <tr>
                        <th>{{ trial.adjudicate.nickname ?? "null" }}</th>
                        <th>{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null" }}</th>
                        <th>{{ trial.dateStart|date('d-m-Y H:i:s') }}</th>
                        <th>{{ trial.status }}</th>
                        <th>
                            {{ include('front/trial/_accept_challenge_form.html.twig') }}
                            {{ include('front/trial/_reject_form.html.twig') }}
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="example-wrapper">
    <h1>Les autres combats</h1>
        <table id="others" name="previous">
            <thead>
                <tr>
                    <th>arbitre</th>
                    <th>combattants</th>
                    <th>date</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody id="others_data">
            {% if trials is defined and trials is not empty %}
                {% for trial in trials %}
                    <tr>
                        <th>{{ trial.adjudicate.nickname ?? "null" }}</th>
                        <th>{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null" }}</th>
                        <th>{{ trial.dateStart|date('d-m-Y H:i:s') }}</th>
                        <th>{{ trial.status }}</th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
