{% extends 'base_front.html.twig' %}

{% block title %}Les combats{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    .block {
        display: flex;
        overflow-x: scroll;
    }

    .challenge {
        display: flex;
    }

    .tl-info {
        font-weight:bold;
        font-size:20px;
    }

    .aucun-combat {
        color:#D20A0A;
        font-weight:bold;
    }

    .aucun-challenge {
        color:#D20A0A;
        font-weight:bold;
    }

    .aucun-autre {
        color:#D20A0A;
        font-weight:bold;
    }
</style>
{% endblock %}

{% block body %}

<div class="container pt-4">
    <div class="d-flex mb-4">
        <h1 class="flex-shrink-0">Matchs</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Mes matchs à venir<p>
    </div>
   
        <h3>Les combats en attente</h3> 
        <div class="block">
            <div>
                <div class="combat">
                    {% if nextTrials is defined and nextTrials is not empty %}
                        {% for trial in nextTrials %}
                            <div class="card mr-4 mt-4 me-4 shadow-sm " style="width:18rem;">
                                <div class="card-body">
                                    <div class="tl-info">ARBITRE</div>
                                    <p>{{ trial.adjudicate.nickname ?? "En attente" }}</p>
                                    <div class="tl-info">COMBATTANTS</div>
                                    <p>{{ trial.fighters[0].nickname ?? "En attente" }} vs {{ trial.fighters[1].nickname ?? "En attente" }}</p>
                                    <div class="tl-info">DATE</div>
                                    <p>{{ trial.dateStart|date('d-m-Y H:i:s') }}</p>
                                    <div class="tl-info">ACTION</div>
                                    <p>{{ trial.status }}</p>
                                    <p>
                                    {% if trial.status == "CREATED" or (trial.status == "DATE_ACCEPTED" and trial.updatedBy.id != app.user.id) %}
                                        {{ include('front/trial/_accept_form.html.twig') }}
                                        {{ include('front/trial/_reject_date_form.html.twig') }}
                                    {% endif %}
                                        {{ include('front/trial/_reject_form.html.twig') }}
                                    </p>
                                 </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="aucun-combat">Aucun combat en attente.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <h3>Les challenges en attente</h3>
            <div class="block">        
                <div>
                    <div class="challenge">
                        {% if nextChallenges is defined and nextChallenges is not empty %}
                            {% for trial in nextChallenges %}
                            <div class="card mr-4 mt-4 me-4 shadow-sm " style="width:18rem;">
                                <div class="card-body">
                                    <div class="tl-info">ARBITRE</div>
                                    <p>{{ trial.adjudicate.nickname ?? "En attente" }}</p>
                                    <div class="tl-info">COMBATTANTS</div>
                                    <p>{{ trial.fighters[0].nickname ?? "En attente" }} vs {{ trial.fighters[1].nickname ?? "En attente" }}</p>
                                    <div class="tl-info">DATE</div>
                                    <p>{{ trial.dateStart|date('d-m-Y H:i:s') }}</p>
                                    <div class="tl-info">ACTION</div>
                                    <p>{{ trial.status }}</p>
                                    <p>
                                        {% if trial.status == "CREATED" and trial.createdBy.id != app.user.id %}
                                            {{ include('front/trial/_accept_challenge_form.html.twig') }}
                                            {{ include('front/trial/_reject_challenge_form.html.twig') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="aucun-challenge">Aucun challenge en attente.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
   
    <h3>Les autres combats</h3>
        <div class="block">
            <div>
                <div class="autre">
                    {% if trials is defined and trials is not empty %}
                        {% for trial in trials %}
                            <div class="card mr-4 mt-4 me-4 shadow-sm " style="width:18rem;">
                                <div class="card-body">
                                        <div class="tl-info">ARBITRE</div>
                                        <p>{{ trial.adjudicate.nickname ?? "En attente" }}</p>
                                        <div class="tl-info">COMBATTANTS</div>
                                        <p>{{ trial.fighters[0].nickname ?? "En attente" }} vs {{ trial.fighters[1].nickname ?? "En attente" }}</p>
                                        <div class="tl-info">DATE</div>
                                        <p>{{ trial.dateStart|date('d-m-Y H:i:s') }}</p>
                                        <div class="tl-info">ACTION</div>
                                        <p>{{ trial.status }}</p>
                                        <p>
                                        {% if trial.status == "AWAITING" and trial.dateStart is defined and trial.dateStart is not null and date() < limitRefuseDelete(trial.dateStart)%}
                                            {{ include('front/trial/_reject_form.html.twig') }}
                                        {% endif %}
                                        </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="aucun-combat">Aucun combat en attente.</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}