{% extends 'base_front.html.twig' %}

{% block title %}Hello TrialController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <table>
        <thead>
            <tr>
                <th>arbitre</th>
                <th>combattants</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
        {% for trial in trials %}
            <tr>
                <th>{{ trial.adjudicate.nickname }}</th>
                <th>{{ trial.fighters[0].nickname }} vs {{ trial.fighters[1].nickname }}</th>
                <th>{{ trial.dateStart|date('d-m-Y H:i:s') }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
