{% extends 'base_front.html.twig' %}

{% block title %}Les combats{% endblock %}

{% block stylesheets %}
<style>
     .tl-info{ 
        font-weight:bold;
        font-size:20px;
        }

        .info{
            font-size:18px;
            
        }

</style>
{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="d-flex ">
        <h1 class="flex-shrink-0">Matchs</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Tous nos matchs<p>
    </div>


    <form id="filter" action="{{ path('front_trial_index') }}" method="POST">
        <label for="status">Statut</label>
        <select class="form-control" id="status" name="status">
            <option value="AWAITING" id="AWAITING" {{ status is same as "AWAITING" ? "selected" : "" }}>EN ATTENTE</option>
            <option value="STARTED" id="STARTED">EN COURS</option>
            <option value="ENDED" id="ENDED">FINIS</option>
        </select>
    </form>
   
    <div class="mt-4 d-flex flex-wrap justify-content-around">
    {% if trials is defined and trials is not empty %}
        {% for trial in trials %}
        <div class="card mr-4 mt-4 me-4 shadow-sm " style="width: 18rem;">
            <div class="card-body">
                <!-- <h2 class="card-title"><a href="{{path('front_trial_show', {'id': trial.id}) }}">{{ trial.id }}</a></h2> -->
                <div class="block">
                    <div class="tl-info">ARBITRE</div>
                    <div class="info">{{ trial.adjudicate.nickname ?? "null" }}</div>
                </div>
                <hr>

                <div class="block">
                    <div class="tl-info">COMBATTANTS</div>
                    <h4 class="info">{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null" }}</h4>
                </div>
                <hr>
              
                <div class="block">
                    <div class="tl-info">DATE DEBUT</div>
                    <p class="info">{{ trial.dateStart|date('d-m-Y H:i:s') }}</p>
                </div>
               
                
                {% if app.user and canBetTrial(trial, app.user) %}
                    <p>{{ include('front/trial/_bet_form.html.twig') }}</p>
                {% endif %}
              
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',  function() {
        const select = document.getElementById('status');
        {{status}}.selected = 'selected';
        let form = document.getElementById('filter');
        form.addEventListener("change", async() => {
            let url = "{{ path('front_trial_index', {'status': 'statusValue'})|escape('js') }}";
            url = url.replace('statusValue', select.value);
            window.location.href = url;
        });
    });
</script>
{% endblock %}
