{% extends 'base_front.html.twig' %}

{% block title %}Combat : {{ trial.fighters[0] }} vs {{ trial.fighters[1] }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .stream-placeholder{
        background-color: #adb5bd;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
        min-width: 340px;
        width: 100%;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if trial.fighters is defined and trial.fighters is not empty and trial.fighters|length > 1 %}
    <div class="border border-2 rounded-3 p-4 d-flex align-items-center justify-content-evenly gap-3 bg-white my-3">
        <i class="bi bi-trophy-fill fs-1"></i>
        <h1 class="fs-4 m-0 text-center text-decoration-underline">{{ trial.fighters[0] }} vs {{ trial.fighters[1] }}</h1>
        <i class="bi bi-trophy-fill fs-1"></i>
    </div>
    {% endif %}
    {% if trial.adjudicate is defined and trial.adjudicate is not null %}
        <div class="row">
            <div class="col-md-4 p-0 d-flex flex-column align-items-center justify-content-center">
                <p class="fw-bold mb-1">Arbitre du combat</p>
                <p class="m-0">{{ trial.adjudicate.nickname ?? "Arbitre non trouvé"}}</p>
            </div>
            <div class="col-md-4 p-0 d-flex flex-column align-items-center justify-content-center">
                <p class="fw-bold mb-1">Date de début du combat</p>
                <p class="m-0">{{ trial.dateStart|date('d-m-Y H:i:s') }}</p>
            </div>
            <div class="col-md-4 p-0 d-flex flex-column align-items-center justify-content-center">
                <p class="fw-bold mb-1">Statut</p>
                <p class="m-0">{{ trial.status }}</p>
            </div>
        </div>
    {% endif %}
    {% if app.user is not null and canBetTrial(trial, app.user) %}
        <div class="d-flex align-items-stretch justify-content-center w-100 mt-3">
            {{ include('front/trial/_bet_form.html.twig') }}
        </div>
    {% endif %}
    <hr>
    {% if trial.status is same as "STARTED" %}
        <div id="twitch-embed" class="stream-placeholder">
            {% if trial.adjudicate.twitchChannel is not defined or trial.adjudicate.twitchChannel is empty %}
                <p class="m-0">Ce combat ne propose pas pour le moment une retransmission sur Twitch. Veuillez revenir plus tard.</p>
            {% endif %}
        </div>
        {% else %}
            <div class="stream-placeholder">
                <p class="m-0">Ce combat n'a pas encore commencé et ne peut donc être transmis. Veuillez revenir plus tard.</p>
            </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% if trial.adjudicate.twitchChannel is defined and trial.adjudicate.twitchChannel is not empty and trial.status is same as "STARTED" %}
        <script src="https://embed.twitch.tv/embed/v1.js" defer></script>
        <script type="text/javascript" defer>
            document.addEventListener("DOMContentLoaded", function() {
                new Twitch.Embed("twitch-embed", {
                    width: "100%",
                    height: 500,
                    channel: "{{ trial.adjudicate.twitchChannel }}",
                });
            });
        </script>
    {% endif %}
{% endblock %}

