{% extends 'base_front.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="name-page">Classement</h1>
    <table>
        <tr>
            <th>rank</th>
            <th>user</th>
            <th>points</th>
            <th>victories</th>
            <th>defeats</th>
            {% if is_granted('ROLE_FIGHTER') %}
                <th>action</th>
            {% endif %}
        </tr>
        {% for stat in fs %}
            <tr>
                <td>{{ stat.rank }}</td>
                <td><a href="{{ path('front_user_show', {'id': stat.getTarget().id}) }}">{{ stat.getTarget().nickname }}</a></td>{# emmene au profil du fighter#}
                <td>{{ stat.rankingPoints }}</td>
                <td>{{ stat.victories }}</td>
                <td>{{ stat.defeats }}</td>
                {% if is_granted('ROLE_FIGHTER') %}
                    <th>
                        {% if canChallenge(app.user, stat.getTarget()) %}
                            {% set fighter = stat.getTarget() %}
                            {{ include('front/user/_challenge_form.html.twig') }}
                        {% elseif app.user.id != stat.getTarget().id %}
                            Challenge already waiting
                        {% endif %}
                    </th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <div class="container-compet">
        <div class="cat-compet">
            <div class="block">
                <h2>Catégorie</h2>
                <h4>"Le monstre" Jean DUPONT</h4>
                <img class="fit-picture" src="../../public/img/boxeur.png"alt="TEST">
                <div>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cat-compet">
            <div class="title">
                <h2>Catégorie</h2>
                <h4>"Le monstre" Jean DUPONT</h4>
                <img class="fit-picture" src="../../public/img/boxeur.png"alt="TEST">
            </div>
        </div>

        <div class="cat-compet">
            <div class="title">
                <h2>Catégorie</h2>
                <h4>"Le monstre" Jean DUPONT</h4>
                <img class="fit-picture" src="../../public/img/boxeur.png"alt="TEST">
            </div>
        </div>


    </div>
    

</div>
{% endblock %}

{% block stylesheets%}
<style>
.container-compet {
    display:flex;   
    flex-direction: row;
    justify-content: center;
}
.cat-compet {
    display:flex;
    background-color:#333;
    color: white;
    margin: 30px;
    padding:25px;
    border-radius: 8px;
    width:50%;
}
h2{
    color:red;
    font-size: 25px;
}
h4{
    font-size: 20px;
}
.name-page {
    display: flex;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin:25px;
}
</style>
{% endblock %}