{% extends 'base_front.html.twig' %}

{% block title %}Hello FightingStatsController!{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>rank</th>
            <th>user</th>
            <th>points</th>
            <th>victories</th>
            <th>defeats</th>
        </tr>
        {% for stat in fs %}
            <tr>
                <td>{{ stat.rank }}</td>
                <td><a href="{{ path('front_user_show', {'id': stat.getTarget().id}) }}">{{ stat.getTarget().nickname }}</a></td>{# emmene au profil du fighter#}
                <td>{{ stat.rankingPoints }}</td>
                <td>{{ stat.victories }}</td>
                <td>{{ stat.defeats }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
