{% extends 'base_front.html.twig' %}

{% block title %}Classement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-user{
            width:100%;
            
        }

        .pseudo{
            text-decoration:none;
            color:black;
        }

        .title{
           font-size:24px !important;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container pt-4">
        <div class="d-flex ">
            <h1 class="flex-shrink-0">Classement</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Notre classement<p>
        </div>

        {% for stat in fs %}
        <div class="d-flex justify-content-left mb-7 mt-5">
            <div class="card card-user ">
                <div class="card-body">
                    <div class="row d-flex">
                        <div class="col-md-2">
                            <p class="title">Rang</p>
                            <p>{{ stat.rank }}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="title">Pseudo</p>
                            <a class="pseudo" href="{{ path('front_user_show', {'id': stat.getTarget().id}) }}">{{ stat.getTarget().nickname }}</a>
                        </div>
                        <div class="col-md-2">
                            <p class="title">Points</p>
                            <p>{{ stat.rankingPoints }}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="title">Victoires</p>
                            <p>{{ stat.victories }}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="title">Défaites</p>
                            <p>{{ stat.defeats }}</p>
                        </div>
                        <div class="col-md-2">{% if is_granted('ROLE_FIGHTER') %}
                            
                                {% if canChallenge(app.user, stat.getTarget()) %}
                                    {% set fighter = stat.getTarget() %}
                                    {{ include('front/user/_challenge_form.html.twig') }}
                                {% elseif app.user.id != stat.getTarget().id %}
                                    Challenge en attente
                                {% endif %}
                           
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}