{% extends 'base_back.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Is verified</th>
                <th scope="col">Nickname</th>
                <th scope="col">Twitch Channel</th>
                <th scope="col">Credits</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.twitchChannel }}</td>
                <td>{{ user.credits }}</td>
                <td class="d-flex flex-column gap-2">
                    {{ include('back/user/_show_form.html.twig') }}
                    {{ include('back/user/_edit_form.html.twig') }}
                    {{ include('back/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
