{% extends 'base_back.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>IsVerified</th>
                <th>Nickname</th>
                <th>Description</th>
                <th>Twitch_channel</th>
                <th>Credits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.twitchChannel }}</td>
                <td>{{ user.credits }}</td>
                <td>
                    <a href="{{ path('back_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('back_user_edit', {'id': user.id}) }}">edit</a>
                    {{ include('back/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
