{% extends 'base_back.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>Twitch_channel</th>
                <td>{{ user.twitchChannel }}</td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>{{ user.credits }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_index') }}">back to list</a>

    <a href="{{ path('back_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('back/user/_delete_form.html.twig') }}
</div>
{% endblock %}
