<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="blue">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ path("front_default") }}">front</a></li>
            <li><a href="{{ path("back_default") }}">back</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path("back_user_index") }}">utilisateurs</a></li>
                <li><a href="{{ path("back_ticket_index") }}">tickets</a></li>
            {% endif %}
            <li><a href="{{ path("back_trial_index") }}">gestion des combats</a></li>
            <li><a href="{{ path("back_tournament_index") }}">gestion des tournois</a></li>
            <li><a href="{{ path('app_logout') }}">logout</a></li>
        </ul>
        <a href="{{ path("back_default") }}" class="brand-logo right">Logo</a>
    </div>
</nav> 



<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
</html>
