<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bettle - Back-office{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header class="mb-4 shadow">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container-lg">
                <a href="{{ path("back_default") }}" class="navbar-brand">
                    <p class="m-0 fs-4">Bettle</p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav my-2 my-md-0">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path("back_user_index") }}" class="nav-link {{ app.request.get('_route') is same as "back_user_index" ? "active" : ""}}">
                                    Utilisateurs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path("back_ticket_index") }}" class="nav-link {{ app.request.get('_route') is same as "back_ticket_index" ? "active" : ""}}">
                                    Tickets
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path("back_trial_index") }}" class="nav-link {{ app.request.get('_route') is same as "back_trial_index" ? "active" : ""}}">
                                Gestion des combats
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("back_tournament_index") }}" class="nav-link {{ app.request.get('_route') is same as "back_tournament_index" ? "active" : ""}}">
                                Gestion des tournois
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path("front_default") }}" class="nav-link">
                                Retourner sur le front-office
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

{% for type, messages in app.flashes() %}
    {% for message in messages %}
        <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
{% endfor %}
</body>
</html>
