<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="red">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down flex">
            <li><a href="{{ path('front_trial_index') }}">matchs</a></li>
            <li><a href="{{ path('front_tournament_index') }}">tournois</a></li>
            <li><a href="{{ path('front_fighting_stats_index') }}">classement</a></li>
            <li><a href="{{ path('front_user_index') }}">compétiteurs</a></li>
            {# <li><a href="{{ path('trial_competitors') }}">challenges</a></li> #}
            {% if app.user %}
                <li><a href="{{path('front_bet_index')}}">bets</a></li>
                {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_ADJUDICATE')) %}
                    <li><a href="{{ path('back_default') }}">administration</a></li>
                {% else %}
                    {% if is_granted('ROLE_FIGHTER') %}
                        <li><a href="{{ path('front_trial_consult') }}">my trials</a></li>
                    {% endif %}
                {# 
                    {% if is_granted('ROLE_FIGHTER') and app.user.trials is not empty %}
                        {% for trial in app.user.trials if not break %}
                            {% if trial.status == "CREATED" %}
                                <li><a href="{{ path('front_ticket_new') }}"></a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    #}
                    {% if app.user.tickets is defined and app.user.tickets is empty%}
                        <li><a href="{{ path('front_ticket_new') }}">upgrade</a></li>
                    {% elseif app.user.tickets[0].status == "ACCEPTED" %}
                        <li><a href="{{ path('front_user_upgrade', { "id": app.user.id }) }}">change your account</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ path('front_user_edit', { "id": app.user.id }) }}">Votre compte</a></li>
                <li><a href="{{ path('app_logout') }}">logout</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">login</a></li>
                <li><a href="{{ path('app_register') }}">register</a></li>
            {% endif %}
        </ul>
        <a href="{{ path('front_default') }}" class="brand-logo right">Logo</a>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

<script defer>
    document.addEventListener("DOMContentLoaded", function() {
        {% for type, messages in app.flashes() %}
            {% for message in messages %}
                M.toast({html: '{{ message }}', classes: '{{ type }}'})
            {% endfor %}
        {% endfor %}
    });
</script>
</body>
</html>
