{% extends 'base_front.html.twig' %}

{% block title %}Hello TournamentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if tournaments is defined %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Arbitre</th>
                <th>Nombre de combattants</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
                <tr>
                        <th><a href="{{ path('front_tournament_show', {'id': tournament.id}) }}">{{ tournament.name }}</a></th>
                        <th>{{ tournament.createdBy.nickname }}</th>
                        <th>{{ tournament.nbParticipants }}</th>
                        <th>{{ tournament.dateStart|date('d-m-Y H:i:s') }}</th>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

{#
    {% for fighter in tournament.getParticipantFromRole("ROLE_FIGHTER") %}
        {{ fighter.nickname }}</br>
    {% endfor %}
#}
