{% extends 'base_front.html.twig' %}

{% block title %}Les tournois{% endblock %}

{% block body %}
<style>

    .tl-info {
        font-weight:bold;
        font-size:20px;
    }
    
</style>

<div class="container mt-5">
    <div class="d-flex ">
        <h1 class="flex-shrink-0">Tournois</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Tous nos tournois<p>
    </div>


    <label for="filter">Status</label>
    <form id="filter" action="{{ path('front_tournament_index') }}" method="POST">
        <select class="form-control" id="status" name="status">
            {% if is_granted('ROLE_FIGHTER') or is_granted('ROLE_ADJUDICATE') %}
                <option value="CREATED" id="CREATED">CREER</option>
            {% endif %}
            <option value="AWAITING" id="AWAITING" {{ status is same as "AWAITING" ? "selected" : "" }}>EN ATTENTE</option>
            <option value="STARTED" id="STARTED">EN COURS</option>
            <option value="ENDED" id="ENDED">FINIS</option>
        </select>
        <input type="hidden" name="_token" value="{{ csrf_token('tournamentFilter') }}">
    </form>
    <div class="mt-4 d-flex flex-wrap justify-content-around">
    {% if tournaments is defined %}
   
        {% for tournament in tournaments %}
        <div class="card mr-4 mt-4 me-4 shadow-sm" style="width: 18rem;">
            <div class="card-body">

            <div class="block">
                    <div class="tl-info">NOM DU TOURNOI</div>
                    <div class="info">{{ tournament.name }}</div>
                </div>
                <hr>
                
                <div class="block">
                    <div class="tl-info">ARBITRE</div>
                    <div class="info">{{ tournament.createdBy.nickname ?? "null" }}</div>
                </div>
                <hr>

                <div class="block">
                    <div class="tl-info">NOMBRE DE COMBATTANTS</div>
                    <div class="info">{{ getNbFromRole(tournament, 'ROLE_FIGHTER')}} / {{tournament.nbMaxParticipants}}</div>
                </div>
                <hr>
              
                <div class="block">
                    <div class="tl-info">DATE DEBUT</div>
                    <p class="info">{{ tournament.dateStart|date('d-m-Y H:i:s') }}</p>
                </div>
               
                
                {% if app.user %}
                            {% if canQuit(tournament, app.user) %}
                                {{ include('front/tournament/_quit_form.html.twig') }}
                            {% endif %}
                            {% if canJoin(tournament, app.user) %}
                                {{ include('front/tournament/_join_form.html.twig') }}
                            {% endif %}
                            {% if canBetTournament(tournament, app.user)%}
                                {{ include('front/tournament/_bet_form.html.twig') }}
                            {% endif %}
                {% endif %}
              
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
    
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',  function() {
            const select = document.getElementById('status');
            {{status}}.selected = 'selected';
            let form = document.getElementById('filter');
            form.addEventListener("change", async() => {
                let url = "{{ path('front_tournament_index', {'status': 'statusValue'})|escape('js') }}";
                url = url.replace('statusValue', select.value);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}
