{% extends 'base_front.html.twig' %}

{% block title %}Tournament {{ tournament.name }}{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <b>Name:</b></br>
    {{ tournament.name }}</br>
    <b>Arbitre du tournoi:</b></br> 
    {{ tournament.createdBy.nickname ?? "null"}}</br>
    <b>Combattants:</b></br>
    {% for fighter in tournament.getParticipantFromRole("ROLE_FIGHTER") %}
        {{ fighter.nickname ?? "null"}}</br>
    {% endfor %}
    <b>Arbitres des matchs :</b></br>
    {% for fighter in tournament.getParticipantFromRole("ROLE_ADJUDICATE") %}
        {{ fighter.nickname ?? "null"}}</br>
    {% endfor %}
    <b>Date de début :</b></br>
     {{ tournament.dateStart|date('d-m-Y H:i:s') }}</br>
    <b>Match:</b>
    {% if trials is defined and trials is not empty %}
        <div>
        {% set index = 1 %}
        {% for trial in trials %}
            <div>
            {% if trial.tournamentStep > index %}
            </div>
                <br/>
                {% set index = trial.tournamentStep %}
            {% endif %}
            {% set fighters = trial.fighters.getValues %}
            {% if fighters is not empty %}
                [
                {% if fighters[0] %}
                    {{fighters[0].nickname}}
                {% endif %}
                {% if fighters.1 is defined %}
                    &nbsp;vs&nbsp;{{fighters[1].nickname}}
                {% endif %}
                ]
            {% else %}
                [ INCOMING ]
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}