{% extends 'base_front.html.twig' %}

{% block title %}Factures de {{ user.nickname }}{% endblock %}

{% block body %}

<div class="container pt-4">
<div class="d-flex mb-4">
        <h1 class="flex-shrink-0">Factures</h1>
        <p class="flex-grow-1 ms-2 m-auto fs-5">- Toutes mes factures<p>
    </div>

    {% if invoices is defined and invoices is not empty %}
        <table id="table_invoice">
            <thead>
                <tr>
                    <th>Crédits</th>
                    <th>Prix</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <th>{{ invoice.creditAmount }}</th>
                    <th>{{ invoice.price }} €   </th>
                    <th>{{ invoice.createdAt|date('d-m-Y H:i:s') }}</th>
                    <th>
                        <a href="{{ path('invoice_show', { 'id': invoice.id }) }}" class="btn btn-bettle">Voir la facture</a>
                    </th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Pas de facture trouvée</p>
    {% endif %}
</div>
<script>

$(document).ready( function () {
    $('#table_invoice').DataTable();
} );
</script>
{% endblock %}