{% extends 'base_front.html.twig' %}

{% block title %}Factures de {{ user.nickname }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>User {{ user.nickname }}</h1>

    {% if user.invoices is defined and user.invoices is not empty %}
        <table>
            <thead>
                <tr>
                    <th>credit</th>
                    <th>price</th>
                    <th>paypal_id</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in user.invoices %}
                <tr>
                    <th>{{ invoice.creditAmount }}</th>
                    <th>{{ invoice.price }} $</th>
                    <th>{{ invoice.idPaypal }}</th>
                    <th>{{ invoice.createdAt|date('d-m-Y H:i:s') }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Pas de facture trouvées</p>
    {% endif %}
</div>
{% endblock %}
