{% extends 'base_front.html.twig' %}

{% block title %}Factures de {{ user.nickname }}{% endblock %}

{% block body %}


<div class="container">
    <h1>User {{ user.nickname }}</h1>

    {% if user.invoices is defined and user.invoices is not empty %}
        <table id="table_invoice">
            <thead>
                <tr>
                    <th>Crédit</th>
                    <th>Prix</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in user.invoices %}
                <tr>
                    <th>{{ invoice.creditAmount }}</th>
                    <th>{{ invoice.price }} $</th>
                    <th>{{ invoice.createdAt|date('d-m-Y H:i:s') }}</th>
                    <th>
                        <a href="{{ path('invoice_show', { 'id': invoice.id }) }}" class="btn btn-danger">Voir la facture</a>
                    </th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Pas de facture trouvée</p>
    {% endif %}
</div>
<script>

$(document).ready( function () {
    $('#table_invoice').DataTable();
} );
</script>
{% endblock %}
{% block stylesheets%}
<style>
    body{
        background-color: #f5f5f5 !important;
    }
</style>
{% endblock %}