<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Facture BETTLE</title>

<style type="text/css">
    * {
        font-family: Verdana, Arial, sans-serif;
    }
    table{
        font-size: x-small;
    }
    tfoot tr td{
        font-weight: bold;
        font-size: x-small;
    }
    .gray {
        background-color: lightgray
    }
</style>

</head>
<body>
  <table width="100%">
    <tr>
        <td valign="top"></td>
        <td align="right">
            <h3>BETTLE</h3>
            <pre>
                BETTLE - paiement crédits
                242 Rue du Faubourg Saint-Antoine
                75 012 Paris
                Siret : 12345678901234
            </pre>
        </td>
    </tr>

  </table>
  <h1> Votre facture</h1>
 
<table width="100%">
    <thead style="background-color: lightgray;">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Crédit</th>
        <th>Prix</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td>{{invoice.getId()}}</td>x
        <td>{{invoice.getBuyer().getNickname()}}</td>
        <td>{{invoice.getBuyer().getEmail()}}</td>
        <td>{{invoice.getCreditAmount()}}</td>
        <td>{{invoice.getPrice()}}</td>
        <td>{{invoice.getCreatedAt()|date('d/m/y')}}</td>
      </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td align="right">Total : {{invoice.getPrice()}} €</td>
        </tr>
    </tfoot>
  </table>
  </body>
  </html>
