{% extends 'base_back.html.twig' %}

{% block title %}Trial index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les combats</h1>
    <label for="filter">Status</label>
    <form id="filter" action="{{ path('back_trial_index') }}" method="POST">
        <select id="status" name="status">
            <option value="AWAITING" id="AWAITING" { status.value == "AWAITING" ?? selected : null }>EN ATTENTE</option>
            <option value="CREATED" id="CREATED">CREER</option>
            <option value="STARTED" id="STARTED">EN COURS</option>
            <option value="ENDED" id="ENDED">FINIS</option>
        </select>
        <input type="hidden" name="_token" value="{{ csrf_token('trialFilter') }}">
    </form>
    <table>
        <thead>
            <tr>
                <th>arbitre</th>
                <th>combattants</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody id="trial_data">
        {% if trials is defined and trials is not empty %}
            {% for trial in trials %}
                <tr>
                    <th>{{ trial.adjudicate.nickname ?? "null" }}</th>
                    <th>{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null"  }}</th>
                    <th>{{ trial.dateStart|date('d-m-Y H:i:s') }}</th>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path('back_trial_new') }}">Create new</a>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',  function() {
        var select = document.getElementById('status');
        {{status}}.selected = 'selected';
        var instances = M.FormSelect.init(select);
        let form = document.getElementById('filter');
        form.addEventListener("change", async() => {
            form.submit();
        });
    });
    
</script>
{% endblock %}