{% extends 'base_back.html.twig' %}

{% block title %}Trial index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les combats</h1>
    <label for="filter">Status</label>
    <form id="filter" action="{{ path('back_trial_index') }}" method="POST">
        <select id="status" name="status">
            <option value="AWAITING" id="AWAITING" {{ status is same as "AWAITING" ? "selected" : "" }}>EN ATTENTE</option>
            <option value="CREATED" id="CREATED">CREER</option>
            <option value="DATE_ACCEPTED" id="DATE_ACCEPTED">DATE_ACCEPTED</option>
            <option value="DATE_REFUSED" id="DATE_REFUSED">DATE_REFUSED</option>
            <option value="REFUSED" id="REFUSED">REFUSED</option>
            <option value="ACCEPTED" id="ACCEPTED">ACCEPTED</option>
            <option value="VALIDATED" id="VALIDATED">VALIDATED</option>
            <option value="STARTED" id="STARTED">EN COURS</option>
            <option value="ENDED" id="ENDED">FINIS</option>
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>arbitre</th>
                <th>combattants</th>
                <th>date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="trial_data">
        {% if trials is defined and trials is not empty %}
            {% for trial in trials %}
                <tr>
                    <th>{{ trial.adjudicate.nickname ?? "null" }}</th>
                    <th>{{ trial.fighters[0].nickname ?? "null" }} vs {{ trial.fighters[1].nickname ?? "null"  }}</th>
                    <th>{{ trial.dateStart ? trial.dateStart|date('d-m-Y H:i:s') : null }}</th>
                    <th>
                    {% if trial.status == "DATE_REFUSED" %}
                        <a href="{{ path('back_trial_modify_date', {'id': trial.id} ) }}">modifier la date</a>
                    {% endif %}
                    {% if trial.status == "ACCEPTED" %}
                        {{ include('back/trial/_accept_challenge_form.html.twig') }}
                        {{ include('back/trial/_refuse_challenge_form.html.twig') }}
                    {% endif %}
                    {% if trial.dateStart is defined and trial.dateStart is not null %}
                        {% if date() < limitRefuseDelete(trial.dateStart)%}
                            {{ include('back/trial/_delete_form.html.twig') }}
                        {% endif %}
                        {% if trial.status == "AWAITING" and canStart(app.user, trial) %}
                            {{ include('back/trial/_start_form.html.twig') }}
                        {% endif %}
                    {% else %}
                        {{ include('back/trial/_delete_form.html.twig') }}
                    {% endif %}
                    </th>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path('back_trial_new') }}">Create new</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',  function() {
            const select = document.getElementById('status');
            {{status}}.selected = 'selected';
            let form = document.getElementById('filter');
            form.addEventListener("change", async() => {
                let url = "{{ path('back_trial_index', {'status': 'statusValue'})|escape('js') }}";
                url = url.replace('statusValue', select.value);
                window.location.href = url;
            });
        });
    </script>
{% endblock %}