{% extends 'base_back.html.twig' %}

{% block title %}Bettle - Nouveau combat{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Nouveau combat</h3>
    </div>
    <div class="card-body">
        <form id="createTrial" action="{{ path('back_trial_new') }}" method="POST" class="d-flex flex-column gap-2">
            <label for="fighter1" class="form-label">Fighter 1</label>
            <select id="fighter1" name="fighter1" class="form-select" required>
                <option id="select1-default" value="default" disabled selected>---</option>
                {% for fighter in fighters %}
                    <option id="select1-{{fighter.id}}" value={{fighter.id}}>{{fighter.nickname}}</option>
                {% endfor %}
            </select>
            <label for="fighter2">Fighter 2</label>
            <select id="fighter2" name="fighter2" class="form-select" required>
                <option id="select2-default" value="default" disabled selected>---</option>
                {% for fighter in fighters %}
                    <option id="select2-{{fighter.id}}" value={{fighter.id}}>{{fighter.nickname}}</option>
                {% endfor %}
            </select>
            <label for="dateStart">Date de début</label>
            <input type="date" class="form-control" id="dateStart" name="dateStart" required/>
            <label for="timeStart">Heure de début</label>
            <input type="time" class="form-control" id="timeStart" name="timeStart" required/>
            <input type="hidden" name="_token" value="{{ csrf_token('newTrial') }}"/>
            <button type="submit" value="Create" class="btn btn-primary mt-2">Create</button>
        </form>
    </div>
    <div class="card-footer">
        <a href="{{ path('back_trial_index') }}">
            <button class="btn btn-secondary">back to list</button>
        </a>
    </div>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',  function() {
            let form = document.getElementById('createTrial');
            let selectFighter1 = document.getElementById('fighter1');
            let selectFighter2 = document.getElementById('fighter2');
            let minDate = new Date();
            minDate.setDate(minDate.getDate()+1)

            selectFighter1.addEventListener('change', (e) => {
                selectFighter2.querySelectorAll('option').forEach(opt => {
                    if(opt.disabled){
                        opt.disabled = false;
                    }
                });
                let tmpDisabled = document.getElementById('select2-'+e.target.value);
                tmpDisabled.disabled = true;
            });

            selectFighter2.addEventListener('change', (e) => {
                selectFighter1.querySelectorAll('option').forEach(opt => {
                    if(opt.disabled === true){
                        opt.disabled = false;
                    }
                });
                let tmpDisabled = document.getElementById('select1-'+e.target.value);
                tmpDisabled.disabled = true;
            });

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                if(selectFighter1.value === "default" || selectFighter2.value === "default"){
                    alert('Veuiller choisir des combattants');
                }else{
                    form.submit();
                }
            })

        });
    </script>
{% endblock %}
