{% extends 'base_front.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
<style>
        .banner{
            position:relative;
        }

        .banner-text{
            position:absolute;
            bottom:0;
            margin-bottom:5%;
        }

        .banner-btn{
            position:absolute;
            top:0;
            right:0;
            margin-right:5%;
            margin-top:3%;
        }

        .nickname{
            color:white;
        }

        .btn-challenge{
            background-color:transparent;
            color:white;
            border:2px solid white;
            width:100px;
        }

        .btn-challenge:hover{
         
            color:black;
            background-color:white;
         
        }

</style>
{% endblock %}
{% block body %}

<div class="banner">
    <img src="{{ asset('img/competitor.png') }}"  alt="logo" style="width:100%;">
    {% if app.user %}     
    <div class="banner-btn">
       <a href="#" class="btn btn-challenge">Défier</a>
    </div>
    {% endif %}
    <div class="banner-text mx-5">
        <h2 class="nickname">{{ user.nickname }}</h2>
    </div>
</div>


<div class="container pt-5">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_user_index') }}">back to list</a>

    <a href="{{ path('front_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('front/user/_delete_form.html.twig') }}
</div>
{% endblock %}
