{% extends 'base_front.html.twig' %}

{% block title %}USER {{ user.nickname }}{% endblock %}

{% block body %}
    <div>
        Pseudo : {{ user.nickname }}</br>
        Description : {{ user.description }}</br>
        {% if stats is defined %}
            Rank : {{ stats.rank }}</br>
            Points : {{ stats.rankingPoints }}</br>
            Victoires : {{ stats.victories }}</br>
            Defaites : {{ stats.defeats }}</br>
            Dernier combat : {{ stats.updatedAt|date('d-m-Y') }}</br>
        {% endif %}
    </div>
{% endblock %}