{% extends 'base_front.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
        .banner{
            position:relative;
        }

        .banner-text{
            position:absolute;
            bottom:0;
            margin-bottom:5%;
        }

        .banner-btn{
            position:absolute;
            margin-left:20px;
        }

        .nickname{
            color:white;
        }

        .btn-challenge{
            background-color:transparent;
            color:white;
            border:2px solid white;
            width:100px;
        }

        .btn-challenge:hover{
         
            color:black;
            background-color:white;
         
        }

        .profile-img{
            border-radius:3px;
        }

        .profile-tl{
            font-weight:bold;
            font-size:45px;
            margin-bottom:50px;
        }

        .tl-info{ 
            font-weight:bold;
            font-size:20px;
            margin:20px 0px;

        }

        .info{
            font-size:15px;
            margin:30px 0px;
        }

</style>
{% endblock %}
{% block body %}

<div class="banner">
    <img src="{{ asset('img/competitor.png') }}"  alt="logo" style="width:100%;">
    {% if app.user %}     
    {% endif %}
    <div class="banner-text mx-5 gap-2 d-flex">
        <div class="d-flex flex-column justify-content-center"><h2 class="nickname">{{ user.nickname }}</h2></div>
        <div>
         
            {% if is_granted('ROLE_FIGHTER')%} 
                <p class="mx-2">
                    {% if canChallenge(app.user, user) %}
                        {{ include('front/user/_challenge_form2.html.twig') }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
</div>


<div class="container pt-5 pb-3">
    <h2 class="profile-tl text-center">LA BIOGRAPHIE</h2>


    <div class="container section1">
        <div class="row">
            <div class="col col-md-6">
                <img class="profile-img" src="{{ asset('img/profile.jpg') }}"  alt="user" style="width:80%">
            </div>  
            
            <div class="col col-md-6 align-self-center">
           

                <div class="info">
                            <div>
                                <div class="tl-info">EMAIL</div>
                                <div class="info">{{ user.email }}</div>
                            </div>
                            <hr>
                            <div>
                                <div class="tl-info">PSEUDO</div>
                                <div class="info">{{ user.nickname }}</div>
                            </div>
                            <hr>
                            <div>
                                <div class="tl-info">DESCRIPTION</div>
                                <div class="info">{{ user.description }}</div>
                            </div>
                          
                </div>
                
            </div>
        
        </div>
    </div>
   
</div>
{% endblock %}