{% extends 'base_front.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
<style>
        .banner{
            position:relative;
        }

        .banner-text{
            position:absolute;
            bottom:0;
            margin-bottom:5%;
        }

        .banner-btn{
            position:absolute;
            top:0;
            right:0;
            margin-right:5%;
            margin-top:3%;
        }

        .nickname{
            color:white;
        }

        .btn-challenge{
            background-color:transparent;
            color:white;
            border:2px solid white;
            width:100px;
        }

        .btn-challenge:hover{
         
            color:black;
            background-color:white;
         
        }

        .profile-img{
            border-radius:3px;
        }

        .profile-tl{
            font-weight:bold;
            font-size:45px;
            margin-bottom:50px;
        }

        .tl-info{ 
            font-weight:bold;
            font-size:20px;
            margin:20px 0px;

        }

        .info{
            font-size:15px;
            margin:30px 0px;
        }

</style>
{% endblock %}
{% block body %}

<div class="banner">
    <img src="{{ asset('img/competitor.png') }}"  alt="logo" style="width:100%;">
    {% if app.user %}     
    <div class="banner-btn">
       <a href="#" class="btn btn-challenge">Défier</a>
    </div>
    {% endif %}
    <div class="banner-text mx-5">
        <h2 class="nickname">{{ user.nickname }}</h2>
    </div>
</div>


<div class="container pt-5 pb-3">
    <h2 class="profile-tl text-center">LA BIOGRAPHIE</h2>


    <div class="container section1">
        <div class="row">
            <div class="col col-md-6">
                <img class="profile-img" src="{{ asset('img/profile.jpg') }}"  alt="user" style="width:80%">
            </div>  
            
            <div class="col col-md-6 align-self-center">
           

                <div class="info">
                            <div>
                                <div class="tl-info">EMAIL</div>
                                <div class="info">{{ user.email }}</div>
                            </div>
                            <hr>
                            <div>
                                <div class="tl-info">PSEUDO</div>
                                <div class="info">{{ user.nickname }}</div>
                            </div>
                            <hr>
                            <div>
                                <div class="tl-info">DESCRIPTION</div>
                                <div class="info">{{ user.description }}</div>
                            </div>
                          
                </div>
                <a class="btn btn-bettle" href="{{ path('front_user_edit', {'id': user.id}) }}">Modifier</a>

                {{ include('front/user/_delete_form.html.twig') }}
            </div>
        
        </div>
    </div>
   
</div>
{% endblock %}