{% extends 'base_back.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Ticket index</h1>

    <label for="filter">Filtrer</label>
    <form id="filter" action="{{ path('back_ticket_index') }}" method="POST">
        <select id="roleWanted" name="roleWanted">
            <option value="Role" id="Role">---</option>
            <option value="Adjudicate" id="Adjudicate">Adjudicate</option>
            <option value="Fighter" id="Fighter">Fighter</option>
        </select>
        <select id="status" name="status">
            <option value="Status" id="Status">---</option>
            <option value="CREATED" id="CREATED">Créer</option>
            <option value="ACCEPTED" id="ACCEPTED">Accepter</option>
            <option value="ENDED" id="ENDED">Finis</option>
            <option value="REFUSED" id="REFUSED">Refuser</option>
        </select>
        <input type="submit" value="Filtrer"/>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Role voulu</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.roleWanted }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.createdBy.email }}</td>
                <td>{{ ticket.updatedBy.email }}</td>
                <td>
                    {% if ticket.status == "CREATED" %}
                        {{ include('back/ticket/_accept_form.html.twig') }}
                        {{ include('back/ticket/_reject_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',  function() {
        var select = document.querySelectorAll("select");
        {{roleWanted}}.selected = 'selected';
        {{status}}.selected = 'selected';
        var instances = M.FormSelect.init(select);
    });
    
</script>
{% endblock %}
