{% extends 'base_back.html.twig' %}

{% block title %}Bettle - Gestion des Tickets{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Gestion des Tickets</h3>
        </div>
        <div class="card-body">
            <form id="filter" action="{{ path('back_ticket_index') }}" method="POST">
                <label class="form-label" for="roleWanted">Filtrer</label>
                <select class="form-select mb-2" id="roleWanted" name="roleWanted">
                    <option value="Role" id="Role">---</option>
                    <option value="Adjudicate" id="Adjudicate">Adjudicate</option>
                    <option value="Fighter" id="Fighter">Fighter</option>
                </select>
                <label class="form-label" for="status">Status</label>
                <select class="form-select mb-2" id="status" name="status">
                    <option value="Status" id="Status">---</option>
                    <option value="CREATED" id="CREATED">Créer</option>
                    <option value="ACCEPTED" id="ACCEPTED">Accepter</option>
                    <option value="ENDED" id="ENDED">Finis</option>
                    <option value="REFUSED" id="REFUSED">Refuser</option>
                </select>
                <input type="hidden" name="_token" value="{{ csrf_token('ticketFilter') }}">
                <button class="btn btn-primary" type="submit" value="Filtrer">Filtrer</button>
            </form>
            <hr>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Role voulu</th>
                        <th class="d-none d-lg-table-cell">Statut</th>
                        <th class="d-none d-lg-table-cell">Date de création</th>
                        <th class="d-none d-lg-table-cell">Date de mise à jour</th>
                        <th class="d-none d-lg-table-cell">Créé par</th>
                        <th class="d-none d-lg-table-cell">Mis à jour par</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.roleWanted }}</td>
                        <td class="d-none d-lg-table-cell">{{ ticket.status }}</td>
                        <td class="d-none d-lg-table-cell">{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="d-none d-lg-table-cell">{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="d-none d-lg-table-cell">{{ ticket.createdBy.email }}</td>
                        <td class="d-none d-lg-table-cell">{{ ticket.updatedBy.email }}</td>
                        <td>
                            {% if ticket.status == "CREATED" %}
                                {{ include('back/ticket/_accept_form.html.twig') }}
                                {{ include('back/ticket/_reject_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100">Aucun ticket trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',  function() {
            {{roleWanted}}.selected = 'selected';
            {{status}}.selected = 'selected';
        });
    </script>
{% endblock %}
