{% extends 'base_back.html.twig' %}

{% block title %}Show ticket {{ ticket.id }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ticket</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ ticket.id }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ ticket.description }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ ticket.status }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de mise à jour</th>
                    <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex flex-column gap-2">
            <a href="{{ path('back_ticket_index') }}">
                <button class="btn btn-secondary">
                    Retourner à la liste
                </button>
            </a>

            {{ include('back/ticket/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
